#========================================
# Ignore extension-less files:
# 1. Ignore all (*)
# 2. Unignore all with extensions (!*.*)
# 3. Unignore all dirs (!*/)
#----------------------------------------
*
!*.*
!*/
#========================================

*.dll
*.so
*.swp
*.exe
