#========================================
# Ignore extension-less files:
# 1. Ignore all (*)
# 2. Unignore all with extensions (!*.*)
# 3. Unignore all dirs (!*/)
#----------------------------------------
*
!*.*
!*/
#========================================

*.dll
*.so
*.swp
*.exe

# Also ignore files private to the mfh-overlay
cmd/mfh-overlay/credentials.json
cmd/mfh-overlay/token.json
cmd/mfh-overlay/res/priv/
