body {
    background: url('/res/priv/img/layout-1v1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

body.no-bg {
    background: none;
}

/* === TOP PART ============================================================= */

/* Div that spans the entire top */
div.player {
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between; /* left at the start, right at the end, space rest */
}

/* Div with the name and predictions of a single player */
div.player-flex {
    display: inline-flex;
    width: 580px;
    justify-content: space-between; /* left at the start, right at the end, space rest */
    position: relative;

    /* background-color: #a0000080; */
}

/* Div with the name and pronoun single player */
div.player-name-flex {
    display: inline-flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100px;
    max-height: 100px;
    justify-content: space-around;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

div.player-name-top-flex {
    position: relative;
    display: inline-flex;
    flex-flow: row;
    height: 20px;
    max-height: 20px;
    justify-content: space-between;
}

/* Magically center labels */
p.center-label {
    height: 100px;
    max-height: 100px;
    line-height: 100px;
    margin: 0;
    margin-top: 18px;
}

/* Properly position labels in the top row */
p.player-pronouns {
    font-size: 24px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    max-height: 20px;
}

/* Properly position labels in the top row */
p.player-flex {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 64px;
    max-height: 80px;
}
p#pl2-name, p#pl2-pronouns {
    /* Right-align player 2 */
    text-align: end;
}

p.predictions-flex {
    position: relative;
    font-size: 30px;
    width: 66px;
}

p.audio-flex {
    position: relative;
    font-size: 48px;
    width: 48px;
}

/* === BOTTOM PART ========================================================== */

p.info {
    position: relative;
    margin: 0;
    margin-bottom: 2px;
}

div.info {
    bottom: 0;
    width: 1280px;
    height: 155px;
    display: flex;
    justify-content: center;
}
div.info-box {
    position: relative;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: #00a00080; */
}
div#info-padding {
    width: 114px;
}
div#left-info {
    align-items: flex-end;
    text-align: end;
    width: 350px;
}
div#right-info {
    align-items: flex-start;
    text-align: start;
    width: 300px;
    margin-right: 50px;
}

p#game {
    font-size: 28px;
    text-align: end;
    max-height: 68px;
}
p#goal {
    font-size: 26px;
    max-height: 48px;
}
p#round {
    font-size: 26px;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 4px;
}
p#platform {
    font-size: 28px;
    max-height: 34px;
}
p#subbed-by {
    font-size: 28px;
    max-height: 80px;
}
label#subbed-by {
    font-size: 20px;
}

div.logo {
    width: 100%;
    height: 100%;
}
img.logo {
    object-fit: contain;
}
img#top-logo {
    left: 0;
    top: -13px;
    height: 112px;
    width: 100%;
}
img#bottom-logo {
    left: 0;
    bottom: 60px;
    height: 118px;
    width: 100%;
}

div.timer {
    right: 0;
}

img#pl1-tp {
    left: 176px;
    top: 248px;
}
img#pl2-tp {
    left: 816px;
    top: 248px;
}

div.goal {
    top: 100px;
}
div#pl1-win {
    left: 470px;
}
div#pl2-win {
    right: 470px;
}
div#pl1-win-img {
    justify-content: flex-end;
}
p#pl1-goal-time {
    border-left-style: outset;
    border-bottom-style: outset;
}
p#pl2-goal-time {
    border-right-style: outset;
    border-bottom-style: outset;
}
