body {
    background: url('/res/img/layout-4way.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* === GAME PART ============================================================ */

/* Div that spans the entire names-row */
div.player {
    width: 896px;
    height: 26px;
    right: 0;
    display: flex;
    justify-content: space-between; /* left at the start, right at the end, space rest */
}
div#bottom {
    bottom: 0;
}

/* Div with the name and predictions of a single player */
div.player-flex {
    display: inline-flex;
    width: 380px;
    height: 100%;
    position: relative;
}

/* Magically center labels */
p.center-label {
    height: 26px;
    max-height: 26px;
    line-height: 26px;
    margin: 0;
}

/* Div with the name and pronoun single player */
div.player-name-flex {
    display: inline-flex;
    flex-flow: row;
    flex-grow: 1;
    height: 26px;
    max-height: 26px;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
}
div#top-pl3-name, div#top-pl4-name {
    align-items: flex-start;
}

/* Properly position labels in the top row */
p.player-pronouns {
    font-size: 16px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    max-height: 26px;
}

/* Properly position player labels */
p.player-flex {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    max-height: 26px;
    /* background-color: #a0000080; */
}

/* Right-align player 2 and 4 */
div#top-pl2-name, div#top-pl4-name {
    justify-content: flex-end;
}

p.audio-flex {
    position: relative;
    font-size: 24px;
    width: 24px;
}

/* Center the round withing its parent */
p.round {
    font-size: 22px;
    position: relative;
    max-width: 136px;
}

/* === LEFT PART =========================================================== */

div#info {
    position: absolute;
    width: 384px;
    height: 605px;
    top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

p.info {
    position: relative;
    margin: 0;
    margin-bottom: 2px;
    text-align: center;
}
p#game {
    font-size: 30px;
    max-height: 108px;
}
p#goal {
    font-size: 28px;
    max-height: 66px;
}
p#platform {
    font-size: 28px;
    max-height: 34px;
}
p#subbed-by {
    font-size: 22px;
    max-height: 56px;
}

div.logo {
    width: 384px;
    height: 115px;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
img.logo {
    position: relative;
}

div.timer {
    left: 0;
}

img#pl1-tp {
    left: 461px;
    top: 106px;
}
img#pl2-tp {
    left: 911px;
    top: 106px;
}
img#pl3-tp {
    left: 461px;
    top: 445px;
}
img#pl4-tp {
    left: 911px;
    top: 445px;
}

div.top-goal {
    top: 249px;
}
div.bottom-goal {
    bottom: 252px;
}
div#pl1-win, div#pl3-win {
    right: 455px;
}
div#pl2-win, div#pl4-win {
    right: 285px;
}
div#pl1-win-img, div#pl3-win-img {
    justify-content: flex-end;
}
p#pl1-goal-time {
    border-left-style: outset;
    border-top-style: outset;
}
p#pl2-goal-time {
    border-right-style: outset;
    border-top-style: outset;
}
p#pl3-goal-time {
    border-left-style: outset;
    border-bottom-style: outset;
}
p#pl4-goal-time {
    border-right-style: outset;
    border-bottom-style: outset;
}
